@page
@model TvedcAdmin.Pages.Fiders.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fiders1[0].AddressId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fiders1[0].FiderId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fiders1[0].RegionName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fiders1[0].FiderCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fiders1[0].Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fiders1[0].FiderName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Fiders1) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AddressId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FiderId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegionName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FiderCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FiderName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
