@page
@model TvedcAdmin.Pages.Contacts.DeleteModel

@{
    ViewData["Title"] = "پاک کردن";
}

<

<h3>آیا از حذف اطلاعات اطمینان دارید؟</h3>
<div>
    

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AboutUs_Contacts.AssistantId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AboutUs_Contacts.AssistantId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AboutUs_Contacts.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AboutUs_Contacts.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AboutUs_Contacts.Value)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AboutUs_Contacts.Value)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="AboutUs_Contacts.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">بازگشت</a>
    </form>
</div>
